<html>
    <head>
      <style>
        body{
          font-size: 12pt;
          font-family: arial;
        }
      </style>
     </head>
 <header>
    <h1><a href='/'>Saffron</a></h1>
      <p style="text-align:left;"><a href='#'>Publish new recipe</a></p>
 </header>
 <body>
   <div>
     <h3>Subscriptions</h3>
     {% for sub in subs %}
       <p><a href={{'/profile/' + sub.subscribee_username}}>{{sub.subscribee_username}}</a></p>
       <form method="POST" action="/subscribe">
         <div class="button">
           {% with loc='account_settings/' + logged_in_as %}
             <input type="hidden" name="subscribe_activity" value="Remove">
             <input type="hidden" name="username" value={{logged_in_as}}>
             <input type="hidden" name="subscribee_username" value={{sub.subscribee_username}}>
             <input type="hidden" name="loc" value={{loc}}>
             <input type="submit" value="Unsubscribe">
           {% endwith %}
         </div>
       </form>
     {% endfor %}
   </div>
   <div>
     <h3>Bookmarks</h3>
     {% for book in books %}
       <p><a href={{'/recipe_page/' + book.recipe_name.replace(" ","_")}}>{{book.recipe_name}}</a></p>
       <form method="POST" action="/bookmark">
         <div class="button">
           {% with loc='account_settings/' + logged_in_as %}
             <input type="hidden" name="bookmark_activity" value="Remove">
             <input type="hidden" name="username" value={{logged_in_as}}>
             <input type="hidden" name="recipe_name" value="{{book.recipe_name}}">
             <input type="hidden" name="loc" value={{loc}}>
             <input type="submit" value="Delete">
           {% endwith %}
         </div>
       </form>
     {% endfor %}
   </div>
   <div>
       {% for recipe in recipes %}
         {% include 'recipe_card.html' %}
         <form method="POST" action="/delete_recipe">
            <div class="button">
              {% with loc='account_settings/' + logged_in_as %}
                <input type="hidden" name="username" value={{logged_in_as}}>
                <input type="hidden" name="recipe_name" value="{{recipe.recipe_name}}">
                <input type="hidden" name="loc" value={{loc}}>
                <input type="submit" value="Delete">
              {% endwith %}
            </div>
         </form>
       {% endfor %}
       <h2>Account Settings</h2>
         <div>
          {% with loc='account_settings/' + logged_in_as %}
           <form method="POST" action='/update'>
             <div class="block">
               <label for="full_name">Full Name</label>
               <input type="hidden" name="loc" value={{loc}}>
               <input type="text" name="full_name" id="full_name">
               <input type="submit" value="Update Full Name">
             </div>
           </form>
           <form method="POST" action='/update'>
             <div class="block">
               <label for="email">Email Address</label>
               <input type="hidden" name="loc" value={{loc}}>
               <input type="text" name="email" id="email">
               <input type="submit" value="Update Email">
             </div>
           </form>
           <form method="POST" action='/update'>
             <div class="block">
               <label for="password">Password</label>
               <input type="password" name="password" id="password">
               <input type="hidden" name="loc" value={{loc}}>
               <input type="submit" value="Update Password">
             </div>
           </form>
           <form method="POST" action='/update'>
             <div class="block">
               <label for="zipcode">Zipcode</label>
               <input type="number" name="zipcode" id="zipcode" min="00000" max="99999" step="1">
               <input type="hidden" name="loc" value={{loc}}>
               <input type="submit" value="Update zipcode">
             </div>
           </form>
           <p>Update Dietary Restrictions</p>
           <div>
            <form method="POST" action='/update'>
             <select id="diet" name="diet">
               <option value="">Change...</option>
               <option value="none">None</option>
               <option value="vegetarian">Vegetarian</option>
               <option value="vegan">Vegan</option>
             </select>
             <input type="hidden" name="loc" value={{loc}}>
             <input type="submit" value="Update Restrictions">
            </form>
           </div>
          {% endwith %}
         </div>
 </body>
</html>
