<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Saffron</h1>

  <div>
    <form method="GET" action="#">
       <input type="text" name="query"> <input type="submit" value="Search">
    </form>
  </div>

  {% if subscription_feed %}
  <div>
    {% for recipe in subscription_feed %}
      {% include 'recipe_card.html' %}
    {% endfor %}
  </div>
  {% endif %}
  <div>
    {% for recipe in recipes %}
      {% include 'recipe_card.html' %}
    {% endfor %}
  </div>
</body>


</html>
