<html>
    <head>
      <style>
        body{
          font-size: 12pt;
          font-family: arial;
        }
      </style>

    </head>

<body>
    <h1>{{recipe_data[0].recipe_name}}</h1>
    
    
<div>
  <p>Published by <a href='#'>{{recipe_data[0].publisher_username}}</a> on {{recipe_data[0].date_published}}</p>
  <p>{{recipe_data[0].cuisine_type}}, {{recipe_data[0].meal_type}}</p>
  {% if dietary_restriction %}
  <p>{{recipe_data[0].dietary_restriction}}</p>
  {% endif %}
  <div>
    <h2>Ingredients</h2>
    {% for recipe in recipe_data %}
    <p>{{recipe.ingredient_name}}</p>
    {% endfor %}
  </div>
</div>

</body>
